<h1>hello</h1>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

<input name="cmd" type="hidden" value="_xclick">

<input name="business" type="hidden" value="{{button_info['business']}}">

<input name="item_name" type="hidden" value="Test Paper 1">

<input name="item_number" type="hidden" value="1-1234">

<input name="amount" type="hidden" value="9.00">

<input name="quantity" type="hidden" value="1">

<input name="no_note" type="hidden" value="0">

<input name="no_shipping" type="hidden" value="1">

<input name="currency_code" type="hidden" value="USD">

<input name="invoice" type="hidden" value="{{button_info['invoice']}}">

<input name="notify_url" type="hidden" value="{{button_info['notify_url']}}">

<input name="submit" type="image" alt="PayPal - The safer, easier way to pay online!" src=" https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0">

<img width="1" height="1" alt="" src=" https://www.paypalobjects.com/en_US/i/scr/pixel.gif" border="0">

</form>